<div class="search-bar--container items-center">
  <search-form>
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form flex items-center">
      <input type="hidden" name="type" value="product">
      <input
        type="text"
        class="search-bar-input"
        aria-label="Search"
        name="q"
        placeholder="Search"
        value=""
      >
      <button type="submit">
        <span class="header__icon">{{ 'icon-search.svg' | inline_asset_content }}</span>
      </button>
    </form>
  </search-form>
</div>